<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/g_affectation</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgresql</property>

        <!-- Hibernate dialect for the database -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- First time ==> create <== -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Mapping files or annotated classes -->
        <mapping class="nk.org.g_affectation_employes.models.Affecter"/>
        <mapping class="nk.org.g_affectation_employes.models.Employe"/>
        <mapping class="nk.org.g_affectation_employes.models.Lieu"/>
        <!-- Add your entity classes or mapping files here -->

    </session-factory>
</hibernate-configuration>